:root{--main-bg-color:#2196F3;}.section-title h2 span,
.breadcrumbs .bread-list li:hover a,
.breadcrumbs .bread-list li a i,
.hero-area .slider-text .short,
.why-choose h2 span,
.why-choose .single-choose .svg-inline--fa,
.services .single-service .icon,
.services .single-service:hover h4 a,
.services .single-service .btn:hover,
.services.single .single-service h1:hover a,
.services.single .single-feature .svg-inline--fa,
.consulting .form .form-group .svg-inline--fa,
.consulting .nice-select .list .option:hover,
.pricing-table .price h4,
.timeline .meta span .svg-inline--fa,
.timeline .single-timeline .btn:hover,
.coming-soon .bottom p a,
.contact-us .form-group label span,
.testimonials .t-info h4 span,
.contact-us .form-group .btn:hover,
.section-title h2 span,
.social .svg-inline--fa:hover, .navbar-light .navbar-nav .nav-link.active, .text-accent, .fa-calendar-alt{color:var(--main-bg-color);}.section-title h2::before,
.section-title h2::after,
.pagination li:hover a,
.hero-area .slider-text .btn.icon,
.hero-area .slider-text .btn.play i,
.hero-area .owl-nav div,
.hero-area .owl-dots .owl-dot:hover span,
.hero-area .owl-dots .owl-dot.active span,
.hero-area.creative .btn:before,
.hero-area.creative .btn.primary,
.services .single-service:before,
.services .owl-nav div,
.services.single .owl-nav div,
.services .single-sidebar h2::before,
.services .category ul li:hover a,
.services .category ul li.active a,
.services .more-services .caption a,
.services .owl-dots .owl-dot:hover span,
.services .owl-dots .owl-dot.active span,
.consulting .form .form-group .btn,
.testimonials .single-testimonial .icon,
.testimonials .owl-dots .owl-dot:hover span,
.testimonials .owl-dots .owl-dot.active span,
.pricing-table .base,
.pricing-table .btn,
.team .btn,
.faqs-main .single-faq.active .faq-title a,
.about-us .about-gallery .owl-nav div:hover,
.about-us .nav-tabs .nav-link:hover,
.brands .owl-nav div:hover,
.about-us .nav-tabs .nav-link.active,
.about-us .text-content .btn,
.timeline .single-timeline .btn,
.contact-us .form-main h4:before,
.contact-us .form-group .btn,
.contact-us h4:before,
.contact-us .single-address i,
.trendbiz-option .icon,
.trendbiz-option .o-icon,
.mail-success .btn,
.nav-pills .show>.nav-link, .float, .float,
.btn-accent, .navbar-toggler, .btn-success:hover,
.blogs .owl-dots .owl-dot:hover span::before,
.blogs .owl-dots .owl-dot.active span::before{background:var(--main-bg-color);}.nav-pills .nav-link.active,
.nav-pills .show>.nav-link, .float, .float, .youtube .play-button{background-color:var(--main-bg-color);}.about-us .tab-main .nav-tabs{border-bottom-color:var(--main-bg-color);}.about-us .nav-tabs .nav-link::before{border-top-color:var(--main-bg-color);}.hero-area .owl-dots .owl-dot span::before,
.services .owl-dots .owl-dot span::before,
.why-choose .single-choose i
.portfolio.single .owl-dots .owl-dot span::before,
.consulting .form .form-group input:hover,
.consulting .nice-select:hover,
.consulting .nice-select::after,
.testimonials .owl-dots .owl-dot span::before,
.our-skill .progress-bar span::before,
.timeline .image:hover img{border-color:var(--main-bg-color);}